:root {
    --primary-color: #1d7874;
    --secondary-color: #071e22;
    --accent-color: #EE2E31;
    --accent-color2: #F4C095;
    --text-color: #cfcfb4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--primary-color);
}

header, main {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--accent-color2);
}

p {
    font-family: 'Times New Roman', Times, serif;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

social-links {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.hero h1,
.hero article {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}



.hero h1 {
    top: 40%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3em;
}

.hero article {
    top: 60%;
    padding: 12px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: #ee2e31b2;
    font-size: 1.2em;
    margin: 30px;
    display: flex;
    width: 75%;
}


.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
    margin-bottom: 8px;
}

footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    text-align: center;
    padding: 16px;
    background-color: var(--accent-color);
    color: var(--text-color);
}


footer nav a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

.quadrant-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    max-width: 1000px;
    margin: 0 auto;
    grid-auto-rows: 160px;
    position: relative;
}

.quadrant-grid img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.quadrant-grid .center-img {
    grid-column: auto;
    justify-self: center;
    width: 100%;
}

header {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: var(--secondary-color);
    color: var(--accent-color2);
    padding: 24px 0;
    display: flex;
}

header nav a {
    color: var(--accent-color2);     
    text-decoration: none;           
    margin: 0 18px;                  
    font-weight: bold;                
    font-size: 1.1em;                 
    transition: color 0.2s;
    justify-content: flex-end;
}

header nav a:hover {
    color: var(--accent-color);      
}

.main-hero-img {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    display: block;
    margin-left: 0;
    margin-right: 0;
}